// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$brand-red: #E41146;
$brand-blue: #205CCC;
$brand-yellow: #F4C319;
$brand-purple: #AB68E7;
$brand-dark-gray: #404040;
$brand-med-gray: #979797;
$brand-light-gray: #DADADA;
