// Specific CSS for your home-page

.page-wrapper.home-version {
  padding: 30px 0 0 0;
  .page-show-heading {
    display: none;
  }
  .page-card {
    box-shadow: none;
    border-radius: 0;
  }
  .user-block {
    border-bottom-left-radius: 0;
  }
  .sub-content {
    border-radius: 0;
  }
}

.hero-wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: $brand-dark-gray;
  h1 {
    color: $brand-yellow;
  }
  h2 {
    color: $brand-light-gray;
  }
  .form-group {
    display: flex;
    margin-bottom: 0;
  }
  .form-control {
    border: none;
    margin-right: 3px;
  }
  .datepicker {
    padding: 6px 12px;
    border-radius: 2px;
  }
  .hero-search {
    margin-top: 30px;
  }
}

.hero-wrapper-alt {
  padding-top: 45px;
  padding-bottom: 50px;
  .hero-search {
    margin-top: 15px;
  }
}

.hp-info {
  background-color: #fff;
  padding-left: 30px;
  h3 {
    font-size: 36px;
    text-transform: lowercase;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  p:last-of-type {
    margin-bottom: 40px;
  }
}

.signup-accent {
  background-color: $brand-red;
  span {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    padding: 45px 20px 20px 20px;
  }
  .btn {
    display: inline-table;
    margin: 0 auto;
  }
}

.hp-cards-wpr {
  background-color: $brand-blue;
  padding-bottom: 30px;
  h3 {
    color: #fff;
    font-size: 36px;
    text-transform: lowercase;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}


.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}
