// Specific CSS for your home-page

#hero-wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: $brand-dark-gray;
  h1 {
    color: $brand-yellow;
  }
  h2 {
    color: $brand-light-gray;
  }
  .form-group {
    display: flex;
    margin-bottom: 0;
  }
  .form-control {
    border: none;
    margin-right: 3px;
  }
  .datepicker {
    padding: 6px 12px;
  }
  .hero-search {
    margin-top: 30px;
  }
}

.hp-info {
  background-color: #fff;
  padding-left: 30px;
  h3 {
    font-size: 36px;
    text-transform: lowercase;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  p:last-of-type {
    margin-bottom: 40px;
  }
}

.signup-accent {
  background-color: $brand-red;
  span {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    padding: 45px 20px 20px 20px;
  }
  .btn {
    display: inline-table;
    margin: 0 auto;
  }
}

.hp-cards-wpr {
  background-color: $brand-blue;
  padding-bottom: 30px;
  h3 {
    color: #fff;
    font-size: 36px;
    text-transform: lowercase;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
