.brand-blue-bg {
  background: $brand-blue url(image-path('questboard_background.svg')) bottom right fixed;
  min-height: calc(100vh - 120px);
  background-repeat: no-repeat;
}

.account-box {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
  .main-heading-group {
    padding: 30px;
    background-color: $brand-dark-gray;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    h1 {
      color: $brand-yellow;
    }
    h2 {
      color: $brand-light-gray;
    }
  }
  .btn-default:focus, .btn-default.focus, .btn-default:active {
    background-color: $brand-red;
    border-color: $brand-red;
  }
  .btn-default:active:focus {
    color: #fff;
    background-color: $brand-red;
    border-color: $brand-red;
  }
  .alert {
    margin-bottom: 30px;
  }
  .account-form-main {
    padding: 30px;
    background-color: lighten($brand-blue, 50%);
  }

  .account-footer {
    padding: 30px;
  }
  .signup-link {
    display: inline-block;
    margin-top: 10px;
  }
}




