// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.page-wrapper {
  padding: 3em 0 2em 0;
}

.content-wrap {
  min-height: calc(100vh - 70px);
}

.main-heading-group {
  h1 {
    text-transform: lowercase;
    font-weight: 700;
    margin: 0;
  }
  h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    font-family: $body-font;
  }
}

.section-heading-group {
  h3 {
    text-transform: lowercase;
  }
}

.brand-blue-bg {
  background: $brand-blue url(image-path('questboard_background.png')) bottom right fixed;
  min-height: calc(100vh - 120px);
  background-repeat: no-repeat;
}
