// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.page-wrapper {
  padding: 3em 0 2em 0;
}

.main-heading-group {
  h1 {
    text-transform: lowercase;
    font-family: $headers-font;
    margin: 0;
  }
  h2 {
    text-transform: uppercase;
    font-family: $body-font;
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0 30px 0;
  }
}

.section-heading-group {
  h3 {
    text-transform: lowercase;
  }
}
