<div class="page-wrapper event-show-wpr">
  <div class="container">
    <div class="row is-flex page-card">

      <div class="col-xs-12 event-show-heading">
        <div class="main-heading-group">
          <h2>Quest Details</h2>
        </div>
      </div>

      <div class="col-sm-6 quest-show-info">
        <%= render 'eventdetails' %>
      </div>

      <div class="col-sm-6 quest-show-party">
        <%= render 'partydetails' %>
      </div>

    </div>
  </div>
</div>
<%= render 'shared/avatar_javascript' %>