.avatar {
  width: 300px;
  height: 300px;
  position: relative;

  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.avatar.profile-size {
  width: 150px;
  height: 150px;
}

.avatar.card-size {
  width: 1.5em;
  height: 1.5em;
}

.avatar.show-size {
  width: 150px;
  height: 150px;
}

.avatar.player-size {
  width: 100px;
  height: 100px;
}
