.avatar {
  width: 300px;
  height: 300px;
  position: relative;

  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.avatar.profile-size {
  width: 150px;
  height: 150px;
}



